body {
    background-color: #9ACCEF;
}

.intro {
    margin: 0 0 30px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
	text-align: center;	
}

.intro_logo {
    width: 160px;
    margin: 0 auto 10px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.intro_heading {
    color: #FFF;
}

.intro_subheading {
    color: #FFF;
}

.text--center {
    text-align: center;
}

.h2 {
    
    margin: 0 0 10px;
    font-weight: 600;
    letter-spacing: 0;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: none;
    white-space: nowrap;
    
    transition: all 0.2s linear;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: initial;
	
    user-select: none;
}

.btn--md-lg {
    padding: 10px 50px;
    font-size: 18px;
    line-height: 28px;
    border-radius: 999px;
}

.btn--primary {
    color: #FFF;
    background-color: #3498DB;
    box-shadow: inset 0px 0px 0px 2px transparent;
}

img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

#backdiv {
	text-align: center;
}

#backdiv2 {
	text-align: center;
}

#errormessage {
	text-align: center;
}
#errormsg {
	text-align: center;
}

#diventertoken {
	text-align: center;
}

.table {
    width: 40%;
    margin: 0px auto;
}

#profileheader {
  text-align: center;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

#postsheader {
  text-align: center;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}